/* ------------------- */
/* ---- Variables ---- */
/* ------------------- */

:root {
    --milk-white: 250, 248, 240;
    --cobalt: 33, 35, 37;
    --light-taupe: 228, 222, 210;
    --baby-aqua: 165, 212, 220;
    --biotek-blue: 64, 124, 201;
    --glass: rgba(255, 255, 255, 0.06);
    --monospace: 'Ubuntu Mono', 'Courier New', monospace;
    --sans-heading: 'Space Grotesk', Helvetica, sans-serif;
    --sans-content: 'IBM Plex Sans', Arial, sans-serif;
}

/* ------------------- */
/* ------ Reset ------ */
/* ------------------- */

/* Reset box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset default margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
picture {
    margin: 0;
}

/* Set core scroll behavior */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body behavior */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Set core img behavior */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Set core form behavior */
input,
button,
textarea,
select {
    font: inherit;
}

/* ------------------- */
/* - Website Styling - */
/* ------------------- */

body {
    background-color: rgb(var(--milk-white));
}

/* Header Styling */

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 10%;
    width: 100vw;
    padding: 5px 5%;
}

.logo-href {
    display: flex;
    margin-right: auto;
}

.nav-logo {
    width: 200px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    display: inline-flex;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
}

.nav-list li a {
    font-family: var(--sans-heading), Helvetica, sans-serif;
    font-size: 150%;
    font-style: bold;
    color: rgba(var(--cobalt), 1);
    text-decoration: none;
}

.nav-list li a:hover {
    color: rgba(var(--biotek-blue), 1);
}

.nav-list .current-page a {
    color:rgba(var(--biotek-blue), 1);
    text-decoration: underline;
}

/* End Header */

/* Main Styling */

.div-border {
    height: 2px;
    background: rgb(228,222,210);
    background: linear-gradient(90deg, rgba(var(--light-taupe), 0.8) 0%, rgba(var(--cobalt), 0.7) 50%, rgba(var(--biotek-blue), 1) 100%);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24em;
    width: 100vw;
    background: linear-gradient(90deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.5), rgba(var(--baby-aqua), 0.65));
}

.top-image-container {
    position: relative;
    z-index: 1;
    height: 20em;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(var(--milk-white));
}

.top-image-container::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: url('/img/images/background-dna.jpg');
    background-color: rgb(var(--milk-white));
    opacity: 0.65;
}

.top-container h1 {
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    margin-inline-start: 7%;
}

.top-container h1::after {
    content: '';
    width: 1.5em;
    height: 3px;
    display: block;
    position: relative;
    background-color: rgb(var(--milk-white));
}

.top-container p {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-inline-start: 7%;
    margin-inline-end: 50%;
    color: rgb(var(--milk-white));
}

.middle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 30em;
    width: 100vw;
    background-color: rgba(var(--milk-white), 1);
    opacity: 1;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, rgba(var(--milk-white), 0.9) 13px ),
                    repeating-linear-gradient( rgba(var(--baby-aqua), 1), 
                    rgba(var(--biotek-blue), 1) );
}

.glass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 25em;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid rgba(var(--cobalt), 0.7);
    background-color: var(--glass);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.glass-container h2 {
    font-family: var(--monospace), 'Courier New', Courier, monospace;
    color: rgba(var(--cobalt), 1);
}

.glass-container hr {
    height: 1px;
    width: 83%;
    border: none;
    background-color: rgba(var(--cobalt), 1);
}

.glass-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgba(var(--cobalt), 1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.5;
}

.glass-container ul li a {
    text-decoration: none;
    color: rgba(var(--biotek-blue), 1);
}

.glass-container ul li a:hover {
    text-decoration: underline;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 2em;
    background: linear-gradient(130deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.9), rgba(var(--biotek-blue), 0.6));
}

.bottom-container .left-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    width: 70%;
    padding: 3em;
    padding-right: 4em;
}

.bottom-container .left-container h2 {
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin-left: 1em;
}

.index-news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 1em;
}

.news-card {
    display: flex;
    align-items: stretch;
    height: 16em;
    width: 30em;
    margin: 1em;
    background-color: white;
    border-radius: 5px;
}

.news-card-img {
    height: 12em;
    width: 16em;
    margin: 0.8em 0 0 0.8em;
    border-radius: 5px;
}

.pic-caption {
    margin: 0.8em;
    font-family: var(--monospace), 'Courier New', Courier, monospace;
    color: rgba(var(--cobalt), 1);
}

.news-card-content {
    width: 12em;
    margin: 0.8em;
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    color: rgba(var(--cobalt), 1);
    font-size: 95%;
    text-align: right;
}

.bottom-container .right-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    width: 30%;
    padding: 10em 1.5em;
    border-left: 1.5px solid rgba(var(--cobalt), 0.4);
}

.bottom-container .right-container h2 {
    font-family: var(--monospace), 'Courier New', Courier, monospace;
    font-size: 1.7em;
    line-height: 1;
    margin-bottom: 1em;
}

.newsletter-email {
    width: 100%;
    height: 54px;
    padding: 12px 15px;
    font-weight: 400;
    color: rgba(var(--cobalt), 1);
    font-family: var(--monospace), 'Courier New', Courier, monospace;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
}

.newsletter-button {
    width: 120px;
    height: 50px;
    padding: 1px 0;
    right: 0;
    margin-top: 3px;
    background-color: #f6faff;
    border: 1px solid transparent;
    color: rgba(var(--cobalt), 1);
    font-family: var(--monospace), 'Courier New', Courier, monospace;
    border-radius: 3px;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.newsletter-button:hover {
    color: white;
    background-color: rgba(var(--biotek-blue), 1);
}

/* End Main */

/* Footer Styling */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 40vh;
    width: 100vw;
    padding-top: 2em;
    background: linear-gradient(30deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.9), rgba(var(--biotek-blue), 0.63));
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 75%;
    width: 60%;
}

.footer-container hr {
    display: block;
    height: 1px;
    width: 100%;
    border: none;
    background-color: rgba(var(--cobalt), 0.6);
}

.footer-logo {
    height: 7.5em;
    width: 10.5em;
    margin-top: 1.2em;
}

.footer-header {
    font-family: var(--monospace), 'Courier New', Courier, monospace;
    color: rgba(var(--biotek-blue), 1);
    text-decoration: underline;
}

.footer-list {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    color: rgba(var(--cobalt), 1);
    padding: 0;
    list-style: none;
}

.footer-list a {
    text-decoration: none;
    color: rgba(var(--cobalt), 1);
}

.footer-list a:hover {
    color: rgba(var(--biotek-blue), 1);
}

.footer-contact .footer-list li {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    color: rgba(var(--biotek-blue), 1);
}

.footer-list p {
    padding-left: 10px;
}

.contact-margin {
    margin-bottom: 0.8em;
}

.copyright {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    color: rgba(var(--cobalt), 0.8);
    font-size: 80%;
}

/* End Footer */

/* About page main content */

.about-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    padding: 3em 6em 10em 6em;
}

.about-container::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: url('/img/images/background-1.jpg');
    opacity: 0.6;
}

.about-container h1 {
    display: block;
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color: rgba(var(--milk-white), 1);
    font-size: 4.5em;
    margin-left: 1.5em;
}

.about-container h1::after {
    content: '';
    width: 2em;
    height: 3px;
    display: block;
    position: relative;
    background-color: rgb(var(--milk-white));
}

.about-content {
    margin: 4rem;
    margin-right: 0;
    padding: 4rem;
    width: 60%;
    align-self: flex-start;
}

.about-content h2 {
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color:rgba(var(--biotek-blue), 1);
    font-size: 2.5rem;
    text-align: right;
}

.about-content p {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    color: rgb(var(--cobalt));
    font-size: 1.2rem;
    text-align: right;
}

.about-pictures {
    width: 40%;
    margin-right: 4rem;
    padding: 4rem;
}

.about-img {
    border-radius: 15px;
    border-top: 1px solid rgb(var(--cobalt));
    border-left: 1px solid rgb(var(--cobalt));
    padding: 0.4rem;
}

/* News page main content */

.news-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    padding: 3em 6em 10em 6em;
}

.news-container::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: url('/img/images/background-2.jpg');
    opacity: 0.6;
}

.news-container h1 {
    display: block;
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color: rgba(var(--cobalt), 1);
    font-size: 4.5em;
    margin-left: 1em;
}

.news-container h1::after {
    content: '';
    width: 2em;
    height: 3px;
    display: block;
    position: relative;
    background-color: rgb(var(--cobalt));
}

.news-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem;
    background: linear-gradient(130deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.9), rgba(var(--biotek-blue), 0.6));
}

.news-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* FAQ page main content */

.faq-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 20em;
    width: 100vw;
    padding: 3em 6em; 
}

.faq-container::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: url('/img/images/background-2.jpg');
    opacity: 0.6;
}

.faq-container h1 {
    display: block;
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color: rgba(var(--cobalt), 1);
    font-size: 4.5em;
    margin-left: 1.5em;
}

.faq-container h1::after {
    content: '';
    width: 2em;
    height: 3px;
    display: block;
    position: relative;
    background-color: rgb(var(--cobalt));
}

.faq-content {
    margin: 4rem;
    margin-right: 0;
    padding: 4rem;
    width: 60%;
    align-self: flex-start;
}

.faq-content h2 {
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color: rgba(var(--biotek-blue), 1);
    font-size: 2.5rem;
    text-align: left;
}

.faq-content p {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    color: rgb(var(--cobalt));
    font-size: 1.2rem;
    text-align: left;
}

.questions-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    width: 100%;
}

.questions-container h2 {
    margin-bottom: 1.5rem;
}

.questions-container h3 {
    font-family: var(--sans-heading);
    font-weight: 100;
    color: rgba(var(--cobalt), 1);
}

.questions-container p {
    font-family: var(--sans-content);
    padding-left: 1.5rem;
}

.questions-container .question {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(var(--cobalt), 0.6);
}

.faq-form-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    margin: 5rem 2.5rem;
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid rgb(var(--cobalt));
}

.faq-form-box h2 {
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color: rgba(var(--biotek-blue), 1);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.faq-form {
    font-family: var(--monospace);
    font-size: 1.3rem;
    color: rgb(var(--cobalt));
}

.faq-form input {
    margin-bottom: 1rem;
}

.text-form {
    width: 100%;
    height: 54px;
    padding: 12px 15px;
    font-size: 1rem;
    color: rgba(var(--cobalt), 1);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
}

.textarea-form {
    width: 100%;
    font-size: 1rem;
    color: rgba(var(--cobalt), 1);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
}

/* Resources page main content */

.resources-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 20em;
    width: 100vw;
    padding: 3em 6em; 
}

.resources-container::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: url('/img/images/background-2.jpg');
    opacity: 0.6;
}

.resources-container h1 {
    display: block;
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color: rgba(var(--cobalt), 1);
    font-size: 4.5em;
    margin-left: 1.5em;
}

.resources-container h1::after {
    content: '';
    width: 2em;
    height: 3px;
    display: block;
    position: relative;
    background-color: rgb(var(--cobalt));
}

.resources-content {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-left: 0;
    padding: 1rem;
    width: 60%;
    gap: 1rem;
}

.resources-content h2 {
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    color:rgba(var(--biotek-blue), 1);
    font-size: 2.5rem;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.resources-content h2::after {
    content: '';
    width: 2em;
    height: 3px;
    display: block;
    position: relative;
    background-color: rgb(var(--biotek-blue));
}

.resources-content p {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    color: rgb(var(--cobalt));
    font-size: 1.2rem;
    text-align: left;
}

.resources-pictures {
    width: 40%;
    margin-left: 4rem;
    padding: 4rem;
}

.resources-img {
    border-radius: 15px;
    border-top: 1px solid rgb(var(--cobalt));
    border-right: 1px solid rgb(var(--cobalt));
    padding: 0.4rem;
}

.resource-sub {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
    padding-right: 7rem;
}

.resource-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource-card h3 {
    font-family: var(--sans-heading);
    color:rgba(var(--cobalt), 1);
}

.resource-sub hr {
    height: 1px;
    width: 150px;
    border: none;
    background-color: rgba(var(--cobalt), 1);
}

.resource-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--sans-content);
}