/* ------------------- */
/* ---- Variables ---- */
/* ------------------- */

:root {
    --milk-white: 250, 248, 240;
    --cobalt: 53, 55, 57;
    --light-taupe: 228, 222, 210;
    --baby-aqua: 165, 212, 220;
    --biotek-blue: 64, 124, 201;
    --glass: rgba(255, 255, 255, 0.06);
}

/* ------------------- */
/* ------ Reset ------ */
/* ------------------- */

/* Reset box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset default margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
picture {
    margin: 0;
}

/* Set core scroll behavior */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body behavior */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Set core img behavior */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Set core form behavior */
input,
button,
textarea,
select {
    font: inherit;
}

/* ------------------- */
/* - Website Styling - */
/* ------------------- */

body {
    background-color: rgb(var(--milk-white));
}

/* Header Styling */

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 100vw;
    padding: 60px 5%;
}

.nav-logo {
    width: 200px;
    margin-right: auto;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-list li a {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: rgba(var(--cobalt), 1);
    text-decoration: none;
}

/* End Header */

/* Main Styling */

.main-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(var(--cobalt), 1);
}

.top-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(185deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.5), rgba(var(--baby-aqua), 0.45));
}

.middle-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--milk-white), 1);
    opacity: 0.6;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, rgba(var(--milk-white), 0.9) 13px ),
                    repeating-linear-gradient( rgba(var(--baby-aqua), 1), 
                    rgba(var(--biotek-blue), 1) );
}

.bottom-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(130deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.9), rgba(var(--biotek-blue), 0.6));
}

.glass-container {
    display: flex;
    height: 92vh;
    width: 95vw;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgba(var(--cobalt), 0.7);
    background-color: var(--glass);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* End Main */

/* Footer Styling */

.footer-container {
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100vw;
    border-top: 1px solid rgb(var(--cobalt));
    background: linear-gradient(30deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.9), rgba(var(--biotek-blue), 0.63));
}

/* End Footer */
