/* ------------------- */
/* ---- Variables ---- */
/* ------------------- */

:root {
    --milk-white: 250, 248, 240;
    --cobalt: 53, 55, 57;
    --light-taupe: 228, 222, 210;
    --baby-aqua: 165, 212, 220;
    --biotek-blue: 64, 124, 201;
    --glass: rgba(255, 255, 255, 0.06);
    --monospace: 'Ubuntu Mono', 'Courier New', monospace;
    --sans-heading: 'Space Grotesk', Helvetica, sans-serif;
    --sans-content: 'IBM Plex Sans', Arial, sans-serif;
}

/* ------------------- */
/* ------ Reset ------ */
/* ------------------- */

/* Reset box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset default margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
picture {
    margin: 0;
}

/* Set core scroll behavior */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body behavior */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Set core img behavior */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Set core form behavior */
input,
button,
textarea,
select {
    font: inherit;
}

/* ------------------- */
/* - Website Styling - */
/* ------------------- */

body {
    background-color: rgb(var(--milk-white));
}

/* Header Styling */

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 10%;
    width: 100vw;
    padding: 5px 5%;
}

.logo-href {
    display: flex;
    margin-right: auto;
}

.nav-logo {
    width: 200px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    display: inline-flex;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
}

.nav-list li a {
    font-family: var(--sans-heading), Helvetica, sans-serif;
    font-size: 150%;
    font-style: bold;
    color: rgba(var(--cobalt), 1);
    text-decoration: none;
}

.nav-list li a:hover {
    color: rgba(var(--biotek-blue), 1);
}

.nav-list .current-page a {
    color:rgba(var(--biotek-blue), 1);
    text-decoration: underline;
}

/* End Header */

/* Main Styling */

.div-border {
    height: 2px;
    background: rgb(228,222,210);
    background: linear-gradient(90deg, rgba(var(--light-taupe), 0.8) 0%, rgba(var(--cobalt), 0.7) 50%, rgba(var(--biotek-blue), 1) 100%);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 100vw;
    background: linear-gradient(185deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.5), rgba(var(--baby-aqua), 0.45));
}

.top-image-container {
    position: relative;
    z-index: 1;
    height: 20em;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-image-container::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: url('/img/images/background-dna.jpg');
    background-color: rgb(var(--milk-white));
    opacity: 0.2;
}

.top-container h1 {
    font-family: var(--sans-heading), Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-inline-start: 7%;
}

.top-container p {
    font-family: var(--sans-content), Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-inline-start: 7%;
    margin-inline-end: 50%;
}

.middle-container {
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--milk-white), 1);
    opacity: 0.6;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, rgba(var(--milk-white), 0.9) 13px ),
                    repeating-linear-gradient( rgba(var(--baby-aqua), 1), 
                    rgba(var(--biotek-blue), 1) );
}

.bottom-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(130deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.9), rgba(var(--biotek-blue), 0.6));
}

.glass-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 95vw;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgba(var(--cobalt), 0.7);
    background-color: var(--glass);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.card {
    display: flex;
    justify-content: center;
    font-family: var(--monospace), 'Courier New', Courier, monospace;
    font-size: 3em;
    color: rgba(var(--cobalt), 1);
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
}

/* End Main */

/* Footer Styling */

.footer-container {
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100vw;
    background: linear-gradient(30deg, rgba(var(--milk-white), 1), rgba(var(--light-taupe), 0.9), rgba(var(--biotek-blue), 0.63));
}

/* End Footer */
